
body, div, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(74, 104, 143);
	background: linear-gradient(137deg, rgba(74,104,143,1) 32%, rgba(47,47,51,1) 70%, rgba(0,212,255,1) 100%);
	background-image: url("./images/cyber.jpg");
	background-color: black;
    background-repeat: no-repeat;
    background-size:auto;
}



  

#header-bar {
	background-color: #000000;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	color: #c5c5c5;
	font-family: Arial, sans-serif;
}

#header-section-1 {
	display: flex;
	align-items: center;
}

#header-section-1 img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	filter: invert(100%);
}

#header-section-2{
	align-items: center;
	align-content:center;
	text-align:center;
}


#header-section-2,
#header-section-3 {
	width: 100px;
	height: 30px;
	margin: 0 10px;
}

#header-section-2 img{
    height:30px;
    width: 30px;
    filter:invert(100%);
}

/*---------------------------End Header Section-------------------------------------------------*/

.floating-circle {
	position: absolute;
	top:50px;
	left:50px;
	height: 5%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: aquamarine;
	opacity: 50%;
	animation: bounce 4s infinite;
}
  

.slider-container {
	width: 300px;
  }
  
  .slider {
	width: 100%;
	background: linear-gradient(to right, 
	  hsl(0, 100%, 50%) 0%,
	  hsl(60, 100%, 50%) 16.666%,
	  hsl(120, 100%, 50%) 33.333%,
	  hsl(180, 100%, 50%) 50%,
	  hsl(240, 100%, 50%) 66.666%,
	  hsl(300, 100%, 50%) 83.333%,
	  hsl(0, 100%, 50%) 100%
	);
  }
  
  .slider::-webkit-slider-thumb {
	background-color: hsl(0, 100%, 50%);
  }
  
  .slider::-moz-range-thumb {
	background-color: hsl(0, 100%, 50%);
  }
  
  



  #content-body-1 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 5%;
    padding-bottom: 20px;
    height: 90vh;
    flex-direction: column;
    box-sizing: border-box;
}

#mouseOut {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0); /* Transparent background */
	z-index: 2;
  }

#who-am-i-col {
    margin-left:auto;
    display:grid;
    place-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

#who-am-i {
    height:90%;
    place-items: center;
	display: flex;
    text-align: center;
	flex-direction: column;
	margin-bottom: 20px;
    width: 80%;
    max-width: 80%;
	color: white;
}

#who-am-i-title h1 {
	font-size: 3em;
}

#who-am-i-title h1:hover {
	cursor:context-menu;
}

#who-am-i-text {
    text-align: left;
    padding-left: 5px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    color: white;
    flex-direction: column;
	display:none;
}

#who-am-i-text:target {
	display: flex;
  }

#who-am-i-text a {
	color:white;
	
}
#who-am-i-cert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#who-am-i-cert img{
    height:175px;
    aspect-ratio: 1/1;
}


#me-jpg {
	max-height: 300px;
	max-width: 300px;
	width: 300px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: top left;
	border-radius: 25%;
}

#specialties {
    margin-right: auto;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.specialties {
	
display: inline-flex;
	
background-color: #e9f8fd87; /* #a4a4a4 */
	
text-align: center;
	
width: 21%;
	
max-width: 300px;
	
aspect-ratio: 1/1;
	
border-radius: 38%;
	
margin-bottom: 20px;
	
align-items: center;
	
justify-content: center;
	
margin: 0% 1% 3% auto;
}

.specialties:hover {
	animation: pulse 1.5s ease !important;
}

@keyframes pulse {
	0% {
	  transform: scale(1);
	}
	12%{
		transform: scale(1.05);
	}
	25% {
		transform: scale(1.1);
	}
	38% {
		transform: scale(1.15);
	}
	50% {
	  transform: scale(1.2);
	}
	62% {
		transform: scale(1.15);
	}
	75% {
		transform: scale(1.1);
	}
	87% {
		transform: scale(1.05);
	}
	100% {
	  transform: scale(1.0);
	}
  }


.specialties:nth-child(odd){
	margin-top:5%;
}
.specialties h2 {
    margin-bottom: 10px;
    padding-left: 1%;
    padding-top: 10px;
}

.specialties p {
	margin-bottom: 20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	content-visibility: hidden;
	display: none;
}

#continue-to-specialties {
    width: 100%;
    max-height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#continue-to-specialties img{
	width:5%;
	max-height:100%;
	aspect-ratio: 1/1;
}

#repo-samples {
    width:100%;
	margin-top:5%;
	display: grid;
	grid-template-columns: 1fr 1fr;

}

#content-body-2 {
    margin-left: 10%;
	margin-right: 10%;
    padding-bottom: 50px;
}

.repo {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, transform 1s;
	transform: translateX(-100%);
}

.repo.show {
	width: 100%;
	max-width: 100%;
	background-color: #ffffff;
	text-align: left;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 38px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	border: 2px solid black;
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
	}

.repo-img {
	padding:10px;
	border-right: 1px solid black;
}

.repo ul{
	padding:20px;
}
.repo img {
	width: 350px;
	height: auto;
	margin-bottom: 10px;
	max-width: 100%;
	object-fit: cover;
	object-position: top left;
}

.repo img:hover{
	cursor: zoom-in;
}

.repo-text {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

.repo h2 {
	margin-bottom: 10px;
}

.repo p {
	margin-bottom: 20px;
}

.repo a {
	display: inline-block;
	padding: 6px 12px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	width: 150px;
	text-align: center;
}

.image-enlarger {
	width: 100%;
	height:auto;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 10px;
	
}


.image-enlarger-closed {
	display: none;
	max-width:100%;
	width:100%;
}

.image-enlarger-open {
	position: absolute;
	top: calc(0px + var(--scroll-y, 0px));
	left: 0px;
	background-color: rgba(51, 51, 51, 0.25);
	display: flex;
	align-items: center; 
	justify-content: center; 
	padding-top: 10px;
	max-width: 100%;
	width: 100%;
	height: 100%;
}

#image-enlarger img {
	max-width: 90%;
	width: 90%;
	max-height: 90%;
	height: auto;
	opacity: 1 !important;
}

#image-enlarger img:hover{
	cursor:zoom-out;
}

@media (max-width: 900px) {

	body {
		background-position: -600px -250px;
	}

	div:not(.specialties,.floating-circle) {
		grid-template-columns: 1fr !important;
		width: 100% !important;
		max-width: 100% !important;
		padding-left:0px !important;
		padding-right:0px !important;
		margin-left: 0% !important;
		margin-right: 0% !important;

	}

	.repo{
		
		max-width:100%;
		width:100%;
		box-sizing: border-box;
		align-content: center !important;
		align-items: center !important;
		text-align: center !important;
		
	}

	.specialties {
		text-align: center !important;
	}


	.specialties h2 {
		font-size:.75em;
	}
	
	.repo-img img{
		border:none;
		max-width: 90%;
	}

	#who-am-i-text {
		align-content:center;
		align-items:center;
		padding-left: 10px !important;
	}

}
